# Ignore .env file
.env

# Ignore Visual Studio Code settings
.vscode/*

# Ignore Python virtual environment
venv

# Ignore log files
logs/*

# Ignore all other contents of the products directory
products/*

# Include product-selectors.txt in the products directory
!/products/product-selectors.txt

# Ignore Python compiled files
__pycache__

# Ignore all other contents of the docs directory
docs/*

# Include .gitignore in the docs directory
!/docs/.gitignore
