# Ignore .env file
.env

# Ignore Visual Studio Code settings
.vscode/*

# Ignore Python virtual environment
venv

# Ignore log files
logs/*

# Include the docs directory and its contents
docs/**

# Include the website directory and its contents
website/*

# Ignore all other contents of the products directory
products/*

# Include product-selectors.txt in the products directory
!/products/product-selectors.txt

# Ignore Python compiled files
__pycache__
